/* Ensure app background does not interfere */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;  /* Change this to transparent to allow overrides in specific components */
  overflow-x: hidden;
}
